* {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

html{
    scroll-behavior: smooth;
  }

body {
    height: 100vh;
    background: linear-gradient(0deg, 
    rgba(34,193,195,1) 0%,
     rgba(33,33,33,1) 100%);
}

a {
    text-decoration: none;
}

.main img {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: cover;
    transition: all .4s;
    
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 10%;
}


/* nav bar */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 15%;
    color: white;
    font-size: large;
    cursor: pointer;
}

.link:hover {
    color:black;
    transition: all .4s;
    cursor: pointer;
}

.btn-a {
    width: 50%;
    background-color: cadetblue;
    transition: all .5s;
    border: none;
    cursor: pointer;
}

.btn-a:hover {
    background-color: greenyellow;
    transition: all .4s;
    cursor: pointer;
}

h2 {
    text-align: center;
    color:white;
}


/* main content */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 20vw;
}

.main img {
    user-select: none;
}

.btn-img-swipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-swipe {
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav, .main {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    box-shadow: rgba(100, 50, 200, 42) 0px 3px 8px;
}

.footer > h4 {
    color: white;
    white-space:nowrap;
}